/* Mantine CSS imports */
@import "@mantine/core/styles.css";

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* Global typography */
html,
body,
#root {
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial;
  color: #e6eef8;
}
